*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: greenyellow;
}


.navbar{
    margin:5px 0px 10px 0px;
    height: 35px;
    display:flex;
    justify-content:center;
    font-size:24px;
    gap:50px;
    /* width:80%; */
    border-radius:10px;
    background:gray;
    color:red;
}
.titletext{
    text-align: center;
    border-bottom: 2px solid gray;
    width: 450px;
    margin: 0 auto 15px;
}
.listusers{
    background-color: #fff;
    line-height: 28px;
    letter-spacing: 0.5px;
    position: relative;
    margin: 0 20% 10px;
    text-align: center;
    width: 350px;
}
.listusers>li{list-style-type: none;}
.listusers>li>a{
    text-decoration: none;
    color: blue;
    transition: 0.8s all ease;
}
.listusers>li>a:hover{
    font-size: 24px;
    color: red;
    background-color: black;
    transition: 0.8s all ease;
}